html,body {
height: 100%;
width : 100%;
}

.main-body{
	height: inherit;
    border: 1px solid;
    margin: 0 auto;
    background-color: aliceblue;
    width: inherit;

}

.search-input{
	text-align: center;
}

 .table-scroll{
 	overflow: scroll;
 }